.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
 
}

.footer button {
  position: relative;
  margin: 10px;
}

.footer #actions {
  bottom: 0;
}

.footer #trigger {
  display: flex;
  position: absolute;
  transform: rotate(calc(-1 * var(--angle))) translateY(-160px) translate(-12px)
    rotate(var(--angle));
}

.footer #trigger:nth-child(1) {

  transform: translateY(-60px) translate(-14px);
}

.footer #trigger:nth-child(2) {
  --angle: -45deg;
}

.footer #trigger:nth-child(3) {
  --angle: 0deg;
}

.footer #trigger:nth-child(4) {
  --angle: 45deg;
}

